.book-details {
  position: relative;
  display: flex;
  width: 100%;
  height: 90vh;
  align-items: center;
  place-content: space-evenly;

  .details,
  .imgCont {
    width: 50%;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .imgCont {
    img.cover {
      width: 50%;
      height: 50vh;
      align-self: end;
      border-radius: 15px;
      background-size: contain;
      margin-right: 70px;
    }

    h2 {
      text-align: center;
    }
  }

  .details {
    align-items: start;

    button {
      position: absolute;
      bottom: -100px;
      padding: 10px;
      width: 60%;
      background: transparent;
      border-radius: 7px;
    }
    p{
      display: list-item;
    }
  }
}
@media (max-width: 767px) {
 
 .book-details{
   flex-direction: column;
   padding-bottom: 115px;
}
.book-details .imgCont img.cover {
  width: 100%;
  margin: auto;
  align-self: center;
}
.book-details .details, .book-details .imgCont {
  width: 80%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.book-details .details button {
   bottom: -50px;
  padding: 10px;
  width: 100%;
  margin-bottom: -30px
}
}